#about{"data-role" => "page"}
  %div{"data-role" => "header" , "data-backbtn"=>"false"}
    %h1 ระบบสารสนเทศบูรณาการองค์กรปกครองส่วนท้องถิ่น
  %div{"data-role" => "content"}
    %div(style="text-align:center")
      = image_tag "logo_elocal.png"
    
    %h2 หลักการและเหตุผล
    องค์กรปกครองส่วนท้องถิ่น ได้มีการนำเอาเทคโนโลยีสารสนเทศมาใช้เพิ่มประสิทธิภาพในการปฏิบัติราชการ และให้บริการประชาชนในโครงการต่างๆ ส่งผลดีในด้านการบริหารจัดการข้อมูล การจัดเก็บรายได้ และความพึงพอใจของผู้ใช้บริการ จึงเห็นสมควรพัฒนาต่อยอดให้มีการบูรณาการข้อมูลเพื่อให้ผู้บริหาร และเจ้าหน้าที่ที่เกี่ยวข้อง สามารถนำข้อมูลไปใช้ในการดำเนินงานกำหนดนโยบาย ติดตามและเร่งรัดการปฏิบัติตามแผนงานโครงการต่างๆ ตลอดจนถึงการให้บริการประชาชนในลักษณะของศูนย์บริการร่วม และบริการต่างๆของหน่วยงานผ่านทางออนไลน์ เพื่อเพิ่มศักยภาพในการดำเนินการให้มีประสิทธิภาพดียิ่งขึ้น
    %h2 วัตถุประสงค์
    %ul
      %li ผู้บริหารและเจ้าหน้าที่ผู้ปฏิบัติงานสามารถเข้าถึงสารสนเทศที่ต้องการได้อย่างรวดเร็ว ทันต่อเหตุการณ์ เนื่องจากข้อมูลถูกจัดเก็บ และบริหารอย่างเป็นระบบ
      %li ผู้บริหารสามารถกำหนดเป้าหมายกลยุทธ์ และวางแผนปฏิบัติการ โดยมีข้อมูลจากระบบสารสนเทศ ช่วยในการตัดสินใจ
      %li มีการบันทึกข้อมูลจากการปฏิบัติงานทุกภาคส่วน ทำให้มีประวัติของข้อมูลอย่างต่อเนื่อง สามารถที่จะบ่งชี้แนวโน้มของการดำเนินงานได้อย่างถูกต้อง
      %li มีระบบเพื่อติดตามผลการปฏิบัติราชการตามนโยบาย และยุทธศาสตร์ของหน่วยงานในสังกัดได้อย่างมีประสิทธิภาพ
      %li ช่วยในการศึกษา วิเคราะห์สาเหตุของปัญหา และวางแนวทางแก้ไข กรณีที่การดำเนินงานไม่เป็นไปตามแผนงาน โดยการวิเคราะห์ข้อมูลที่เกิดขึ้น
      %li เพื่อพัฒนาให้บริการประชาชนได้อย่างรวดเร็ว ถูกต้อง ในขณะที่ช่วยให้การทำงานไม่เกิดความซ้ำซ้อน เพิ่มความพึงพอใจให้กับประชาชนผู้ใช้บริการที่มีประสิทธิภาพมากขึ้น
      %li สามารถจัดเก็บรายได้อย่างถูกต้อง ครบถ้วน และลดค่าใช้จ่ายในการประมวลผลเอกสาร
    %h2 เป้าหมาย
    %ul
      %li พัฒนาระบบสารสนเทศบูรณาการเพื่อการบริหารงานองค์กรปกครองส่วนท้องถิ่น ตามขอบเขตการดำเนินโครงการ
      %li จัดอบรมผู้บริหาร เจ้าหน้าที่ผู้เกี่ยวข้อง และเจ้าหน้าที่ผู้ดูแลระบบ
      %li องค์กรปกครองส่วนท้องถิ่น มีระบบสารสนเทศที่ใช้ในการบริหารจัดการองค์กรอย่างมีประสิทธิภาพ
    %h2 องค์ประกอบของระบบฯ
    ระบบสารสนเทศบูรณาการเพื่อการบริหารงานองค์กรปกครองส่วนท้องถิ่น แบ่งออกเป็น ๘ โมดูลครอบคลุมการทำงานทุกภาคส่วนขององค์กรปกครองส่วนท้องถิ่นทุกประเภททั้งองค์การบริหารส่วนตำบล เทศบาล และองค์การบริหารส่วนจังหวัด
    %ul
      %li
        ระบบบริหารกลาง
        %ul
          %li งานสารสนเทศผู้บริหาร (Executive Information System)
          %li งานสารบรรณ
          %li งานการเลือกตั้ง
          %li งานจัดการประชุม
          %li งานปฏิทินนัดหมาย
          %li งานบริหารจัดการองค์ความรู้
          %li งานข้อมูลอาสาสมัครป้องกันภัยฝ่ายพลเรือน
          %li งานบริหารข้อร้องเรียน
          %li งานออกใบรับรองเครื่องชั่ง ตวง วัด
          %li งานออกใบสั่งและเปรียบเทียบปรับ
      %li 
        ระบบนโยบายและแผน
        %ul
          %li งานนโยบายและแผน
          %li งานติดตามการใช้จ่ายงบประมาณ
          %li งานติดตามความคืบหน้าของการดำเนินโครงการ
          %li ระบบรายงานและเฝ้าระวัง
      %li 
        ระบบบริหารบุคคลากร
        %ul
          %li ประวัติการดำรงตำแหน่ง
          %li เครื่องราชอิสริยาภรณ์
          %li การลา
          %li การศึกษา และการฝึกอบรม
          %li การดำเนินการทางวินัย
      %li 
        ระบบการคลัง
        %ul
          %li งานจัดเก็บรายได้
          %li งานทะเบียนทรัพย์สิน
          %li งานเบิกจ่ายฎีกา
          %li งานบริหารพัสดุ และครุภัณฑ์
          %li งานบริหารบัญชีและการเงิน
          %li งานเรียกเก็บค่าใช้น้ำบาดาล
          %li งานทะเบียนพาณิชย์
      %li 
        ระบบโยธา
        %ul
          %li งานใบอนุญาตก่อสร้าง การควบคุมอาคาร
          %li งานควบคุมโครงการ
          %li งานเปรียบเทียบปรับคดีความผิดตามกฏหมายว่าด้วยการควบคุมอาคาร
          %li งานอนุญาตให้ก่อสร้างสิ่งล่วงล้ำลำน้ำ
          %li ฐานข้อมูลถนนและสะพาน
          %li ฐานข้อมูลแหล่งน้ำ และสถานีขนส่งทางน้ำ
          %li งานประปา
          %li งานน้ำบาดาล
          %li งานอนุญาตขุดเจาะบ่อน้ำบาดาล
          %li ฐานข้อมูลสถานีสูบน้ำด้วยไฟฟ้า
          %li งานผังเมือง
          %li งานสถานที่เก็บรักษาน้ำมันเชื้อเพลิง
          %li ฐานข้อมูลที่สาธารณประโยชน์ และที่รกร้างว่างเปล่า
      %li 
        ระบบการศึกษา ศาสนา และวัฒนธรรม
        %ul
          %li งานบริหารจัดการศูนย์พัฒนาเด็กเล็ก
          %li งานสงเคราะห์และจัดสวัสดิการเด็กและเยาวชน (อาหารเสริมนมและอาหารกลางวัน)
          %li งานบริหารเงินอุดหนุนค่าอาหารเสริม (นม)
          %li ฐานข้อมูลสถานศึกษา
          %li ฐานข้อมูลศาสนสถาน และโบราณสถาน
      %li ระบบบริหารโรงเรียนถ่ายโอน
      %li 
        ระบบสวัสดิการสังคม
        %ul
          %li งานเบี้ยยังชีพผู้สอายุ ผู้พิการ และผู้ป่วยเอดส์
          %li งานส่งเสริมกีฬา สนามกีฬา และลานเอนกประสงค์
          %li ฐานข้อมูลกลุ่มอาชีพ
          %li ฐานข้อมูลกลุ่มเกษตรกรและข้อมูลที่กี่ยวข้องกับการเกษตร การช่วยเหลือกำจัดศัตรูพืช
          %li งานจัดทำแผนพัฒนาการเกษตรระดับตำบล
          %li งานบริหารจัดการกลุ่มออมทรัพย์เพื่อการผลิต
          %li การดำเนินงานพัฒนาสตรีโดยองค์กรสตรี
          %li งานรวบรวมส่งเสริมพัฒนาภูมิปัญญาท้องถิ่น
          %li งานฝึกอาชีพ การรวมกลุ่มและพัฒนากลุ่มเกษตรกร
          %li ฐานข้อมูลประชากร เพื่องานส่งเสริมคุณภาพชีวิต และการช่วยเหลือผู้ประสบภัย
          %li งานฌาปนกิจสงเคราะห์
      %li 
        ระบบสาธารณสุข และสิ่งแวดล้อม
        %ul
          %li งานบริหารจัดการขยะมูลฝอย และสิ่งปฏิกูล
          %li งานบริหารจัดการระบบบำบัดน้ำเสีย
          %li 
            งานใบอนุญาต
            %ul
              %li จัดตั้งสถานสะสมอาหาร
              %li จัดตั้งสถานที่จำหน่ายอาหาร
              %li กิจการที่เป็นอันตรายต่อสุขภาพ
              %li สุราและยาสูบ
          %li งานตลาด
          %li งานส่งเสริมสุขภาพ
          %li งานกำกับดูแลโรงงานขนาดเล็ก
          %li งานคุ้มครองผู้บริโภค
          %li งานสถานบริการ
          %li งานโรงแรม
          %li งานหอพักเอกชน
    %div(style="text-align:center")
      = image_tag "network.png"
