%h3 คู่มือการใช้งาน
:textile
  h4. การปรับปรุงระบบงาน

  ผู้ใช้ที่เป็นผู้ดูแลระบบ เมื่อล็อกอินแล้วเลือกหัวข้อ *ผู้ดูแลระบบ* แล้วเลือก *ปรับปรุงระบบงาน* จากเมนูทางด้านซ้าย
  เมื่อปรับปรุงระบบงานแล้ว สามารถตรวจสอบรุ่นที่ใช้อยู่ได้จากข้อความ eLocal ที่อยู่ด้านล่างสุด
