%h3 คู่มือการใช้งานระบบสารบรรณ
:textile
  h4. บทนำ
  
  ระบบงานสารบรรณแบ่งออกเป็น ๓ กลุ่ม กลุ่มแรกเป็นหน้าที่ของผู้ดูแลระบบคือการกำหนด
  โครงสร้างองค์กร ซึ่งเป็นคำสั่งอยู่ทางด้านล่าง โครงสร้างองค์กรนี้จะใช้เวลาที่มีการขึ้นทะเบียนผู้ใช้ใหม่
  กลุ่มที่ ๒ เป็นเรื่องของเอกสาร แบ่งเป็น ๓ คำสั่ง คือเอกสารรับ เอกสารออก และบันทึกภายใน
  ส่วนกลุ่มที่ ๓ เป็นเรื่องของยานพาหนะโดยทางเจ้าหน้าที่พัสดุจะต้องทำการบันทึกยานพาหนะที่มีลงไปก่อน
  จากนั้น เจ้าหน้าที่ใช้คำสั่งขอใช้รถ หรือยกเลิกการขอใช้รถ

  h4. โครงสร้างองค์กร

  โครงสร้างองค์กรแบ่งออกเป็น ๒ ระดับ คือระดับส่วนสำหรับองค์การบริหารส่วนตำบล หรือ กอง
  สำหรับเทศบาล และองค์การบริหารส่วนจังหวัด ในการตรวจสอบแก้ไขให้เลือกคำสั่ง *โครงสร้างองค์กร*
  ทางด้านล่าง เพื่อเข้าสู่หน้าจอแสดงส่วนงาน สามารถคลิกเพิ่มส่วนงานมุมบนด้านขวา หรือคลิก แก้ไข / ลบ
  ทางด้านซ้าย
  
  ระดับที่ ๒ คือส่วนงานย่อยภายใต้ส่วนงาน เช่น งาน หรือ ฝ่าย ให้เลือกส่วนงานในระดับที่ ๑ ก่อน เมื่อ
  เข้ามาแล้วสามารถ เพิ่ม / แก้ไข / และลบ ข้อมูลของส่วนงานย่อย
  
  h4. ระบบงานเอกสาร
  
  ระบบงานเอกสารมี ๔ คำสั่ง ได้แก่
  
  *รายงานสารบรรณ* แสดงความเคลื่อนไหวของเอกสารเข้าออกทั้งหมด
  
  *รับหนังสือ* เมื่อมีการรับเอกสารเข้า ให้ทำการเดินเอกสารตามปรกติ จนเมื่อเรื่องสิ้นสุดแล้วให้เจ้าหน้าที่
  ธุรการของแต่ละส่วนงานสแกนเอกสารต้นฉบับ แล้วเลือกคำสั่ง _รับหนังสือ_ เมื่อเจ้าหน้าที่ธุรการนำเข้า
  ข้อมูลแล้ว ผู้บริหาร และผู้ใช้งานทุกคนสามารถสืบค้นได้จากช่องค้นหา และเรียกดูเอกสารตัวสแกนได้ทันที
  โดยไม่ต้องเสียเวลาไปค้นเอกสารตัวจริง
  
  *ส่งหนังสือ* ใช้สำหรับเอกสารออก ให้ทำการออกเลขส่งเอกสาร และนำส่งตามปรกติจนเมื่อผู้รับ 
  (หรือเจ้าหน้าที่ไปรษณีย์) ลงนามรับแล้ว เจ้าหน้าที่ธุรการของส่วนงานจึงนำเอกสารต้นฉบับมาสแกน และเลือ
  คำสั่ง _ส่งหนังสือ_ เพื่อบันทึกข้อมูลเอกสารออกเพื่อประโยชน์ในการสืบค้น เช่นเดียวกับการรับหนังสือ
  
  *บันทึกข้อความ* ให้ดำเนินการเช่นเดียวกับการรับหนังสือ เพียงแต่ไม่ต้องลงเลขรับของธุรการกลาง
  
  h4. ระบบงานยานพาหนะ
  
  ระบบงานยานพาหนะ มี ๓ คำสั่ง คือ
  
  *ยานพาหนะ* ใช้สำหรับเจ้าหน้าที่พัสดุ เมื่อมีการรับยานพาหนะเข้าเป็นสินทรัพย์ใหม่ และพร้อมใช้งานแล้ว
  ให้บันทึกรายละเอียด ของยานพาหนะเข้าระบบ
  
  *ขอใช้รถส่วนกลาง* สำหรับผู้ใช้ทั่วไป เมื่อต้องการขอใช้รถ ให้บันทึกรายละเอียดการขอใช้รถเพื่อออกเอกสาร
  การขออนุมัติ เมื่อผู้มีอำนาจลงนามแล้ว ให้สามารถนำรถนั้นออกใช้งานได้ เมื่อใช้งานเสร็จเรียบร้อย เจ้าหน้าที่
  ผู้ดูแลยานพาหนะ สแกนเอกสารขออนุมัติที่ลงนามแล้ว พร้อมทั้งลงบันทึกเลขไมล์เข้า-ออกตามระเบียบฯ
  
  *ยกเลิกคำขอใช้รถ* สำหรับผู้ที่ได้บันทึกคำขอฯ ไว้แล้ว สามารถยกเลิกการใช้งานได้โดยใช้คำสั่งนี้
  
  h4. การรักษาความปลอดภัย
  
  ในการใช้งานระบบสารสนเทศบูรณาการองค์กรปกครองส่วนท้องถิ่นอย่างแท้จริง จะมีการกำหนดสิทธิ
  การใช้งานโดยละเอียดถึงระดับของขั้นตอนย่อย แต่ในระบบงานสารบรรณ มีวัตถุประสงค์
  สำหรับให้ผู้ใช้ที่พึ่งเริ่มต้นการใช้งาน สามารถศึกษาและทำความคุ้นเคยกับรูปแบบการทำงานของระบบฯ
  จึงยังมิได้มีการจำกัดการใช้งานไว้เช่นเดียวกับการใช้งานจริง
  
  h4. คำถาม ข้อเสนอแนะ
  
  หากผู้ใช้มีคำถาม หรือข้อเสนอแนะประการใด สามารถเข้าไปแจ้งได้ที่เฟสบุ๊ค "ELOCAL":http://www.facebook.com/pages/Elocal/271511496211344
  เพื่อเป็นการแลกเปลี่ยนประสบการณ์ให้กับผู้พัฒนา และผู้ใช้ท่านอื่น
  ในอนาคต หากมีข่าวสารข้อมูล หรือวิดีโอสอนการใช้งานเพิ่มเติม จะนำขึ้นที่เว็บไซต์นี้
  
  
  
  