%div{"data-context" => "a#default", "data-hash" => "crumbs", "data-id" => "menu", "data-role" => "panel"}
  / Start of first page
  #main{"data-role" => "page"}
    %div{"data-backbtn" => "false", "data-role" => "header"}
      %h1 Main
    %div{"data-role" => "content"}
      %ul{"data-role" => "listview", "data-theme" => "g"}
        %li
          การเดินทาง
          %ul
            %li
              %a{"data-panel" => "main", :href => "/songrit/aboutus"} Hotels
            %li
              %a{"data-panel" => "main", :href => "#aboutsv"} Beach Resorts
            %li
              %a{"data-panel" => "main", :href => "#credits"} City
        %li
          Accommodation
          %ul
            %li
              %a{"data-panel" => "main", :href => "/main/aboutus"} Hotels
            %li
              %a{"data-panel" => "main", :href => "#aboutsv"} Beach Resorts
            %li
              %a{"data-panel" => "main", :href => "#credits"} City
        %li
          Attractions
          %ul
            %li
              %a{"data-panel" => "main", :href => "#context"} Beaches
            %li
              %a{"data-panel" => "main", :href => "#panels"} Scuba Diving
            %li
              %a{"data-panel" => "main", :href => "#orientation"} Spa
            %li
              %a{"data-panel" => "main", :href => "#scroll"} Heritage / Religious
            %li
              %a{"data-panel" => "main", :href => "#scroll"} Shopping
            %li
              %a{"data-panel" => "main", :href => "#scroll"} Nightlife
        %li
          Restaurants
          %ul
            %li
              %a{"data-panel" => "main", :href => "#context"} Thai
            %li
              %a{"data-panel" => "main", :href => "#panels"} Continental
            %li
              %a{"data-panel" => "main", :href => "#orientation"} Phuket
        %li
          Patong
          %ul
            %li
              %a{"data-panel" => "main", :href => "#context"} Beaches
            %li
              %a{"data-panel" => "main", :href => "#panels"} Scuba Diving
            %li
              %a{"data-panel" => "main", :href => "#orientation"} Spa
            %li
              %a{"data-panel" => "main", :href => "#scroll"} Heritage / Religious
        %li
          Event
          %ul
            %li
              %a{"data-panel" => "main", :href => "#context"} Beaches
            %li
              %a{"data-panel" => "main", :href => "#panels"} Scuba Diving
            %li
              %a{"data-panel" => "main", :href => "#orientation"} Spa
            %li
              %a{"data-panel" => "main", :href => "#scroll"} Heritage / Religious
        %li
          %a{"data-panel" => "main", :href => "#source"} About Us

