%h3 Sample Form
- fields_for :account do |f|
  %table(width="100%")
    %tr
      %td(class="field-name")รหัสบัญชี
      %td(colspan="2")
        = f.text_field :code_dla, :style => "width:300px;"
    %tr
      %td(colspan="3")
        = f.submit "บันทึกรายการ"
