<% system "/usr/bin/rake backup:run trigger=elocal-db --trace 2>&1 >> #{Rails.root}/log/rake.log &" %>
<% system "/usr/bin/rake backup:run trigger=elocal-up --trace 2>&1 >> #{Rails.root}/log/rake.log &" %>
<h3 style="text-align:center;">สำรองข้อมูลเรียบร้อยแล้ว</h3>
