<% y= fiscal_year %>
<table id="doc" width="100%">
  <tr>
    <td class="field-name">ปีต้นฉบับ</td>
    <td><%= select_tag :fy0, options_for_select([y-3,y-2,y-1,y,y+1,y+2,y+3], y) %></td>
    <td style="width:50%;">&nbsp;</td>
  </tr>
  <tr>
    <td class="field-name">ปีที่ต้องการสร้างใหม่</td>
    <td><%= select_tag :fy1, options_for_select([y-3,y-2,y-1,y,y+1,y+2,y+3], y) %></td>
    <td style="width:50%;">&nbsp;</td>
  </tr>
</table>

