<% subsection= Subsection.find $xvars[:p][:id] %>
<h3>แก้ไขส่วนงานย่อยภายใต้ <%= subsection.section.name %></h3>
<% fields_for subsection do |f| %>
  <table width="100%">
    <tr>
      <td class="field-name">รหัส</td>
      <td colspan="2"><%= f.text_field :code, :style => "width:100px;" %></td>
    </tr>
    <tr>
      <td class="field-name">ชื่อ</td>
      <td colspan="2"><%= f.text_field :name, :style => "width:400px;" %></td>
    </tr>
  </table>
<% end %>
