<% u= GmaUser.find @xvars[:select_user][:user_id] %>
ผู้ใช้ที่ต้องการแก้ไข <%= u.full_name %>
<p/>
<% fields_for u do |f| %>
  <%= f.label :role, "สิทธิการใช้งาน" %>
  <%= f.text_field :role %>
<% end %>
<hr/>
<% GmaRole.all.each do |r| %>
<%= r.code %>: <%= r.name %><br/>
<% end %>
