<% fields_for :choose do |f| %>
  <%= f.label :num, "เลขที่" %>
  <%= f.text_field :num %>
  <%= f.label :receive_on, "วันที่รับเงิน" %>
  <%= f.date_field :receive_on, "blackDays"=>[0,6] %>
<% end %>
<%= fix_thai_year %>
<script type="text/javascript" >
  $('.required').append('<span style="color:red"> *</span>');

  function validate() {
    if ($('#choose_num').val()=='') {
      alert('กรุณาระบุเลขที่');
      return false;
    }
  }
</script>
