<% e= $xvars[:enter][:employee] %>
<%= e[:fname] %>
<%= e[:lname] %>
<%= e[:spouse_fname] %>
<%= e[:spouse_lname] %>
<%= e[:father_fname] %>
<%= e[:father_lname] %>
<%= e[:mother_fname] %>
<%= e[:mother_lname] %>
<%= e[:nid] %>
<%= e[:parent_phone] %>
