<% payment = Payment.find @xvars[:payment_id] %>

ธนาคาร <%= payment.bank.full_name %>
<br/>
สั่งจ่ายให้ <%= payment.payable %>
<br/>

<% payment.check_issue_on = Date.today %>

<% fields_for payment do |f| %>
  <%= f.label :check_num, "เลขที่เช็ค" %>
  <%= f.text_field :check_num %>
  <%= f.label :check_issue_on, "เช็คลงวันที่" %>
  <%= f.date_field :check_issue_on %>
<% end %>
