<% payment = Payment.find @xvars[:payment_id] %>

    ธนาคาร
    <%= payment.bank.full_name %>
  

    สั่งจ่ายให้
    <%= payment.payable %>
  
  <%= f.label :check_num, "เลขที่เช็ค" %>
  <%= text_field_tag :check_num, nil %>

    เช็คลงวันที่
    <%= date_select_thai :check, :issue_on %>
  

