- render_chart_html '/FusionCharts/StackedColumn2D.swf', '/data/revenue.xml', '', 'myFirstHTML', 600, 400, false
- render_chart_html '/FusionCharts/Column3D.swf', '/data/Data.xml', '', 'myFirstHTML', 600, 400, false
- render_chart_html '/FusionCharts/Column3D.swf', '/data/JapaneseData.xml', '', 'myFirstHTML', 600, 400, false
